<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Thống kê</title>
    <!-- Thêm thư viện Bootstrap -->
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"/>
    <!-- Thêm thư viện Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link th:href="@{/css/theme.css}" rel="stylesheet">
    <script th:src="@{/js/theme.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/dist/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.3/nouislider.min.css">

</head>
<body>
<div>
    <header th:insert="~{layout/header}"></header>
    <br>
    <section style="height: 300px;background-color: #5f0a6e;justify-content: center;display: flex;align-items: center">
        <br>
        <div style="text-align: center;font-size: 50px;font-weight: bold;color: #ffffff">
            TOP 10 Sản phẩm bán chạy nhất
        </div>
    </section>
    <br>
    <!-- Biểu đồ cột danh sách sản phẩm -->
    <div class="mt-4 container">
        <canvas id="chart"></canvas>
    </div>
</div>
<br>
<footer th:insert="~{layout/footer}"></footer>
<script th:src="@{/js/thong-ke.js}"></script>
</body>
</html>
